* {
  font-size: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  width: 800px;
}

.box {
  border: 1px solid black;
  display: inline-block;
}

.top {
  height: 200px;
  width: 50%;
  box-sizing: border-box;
}

.bottom {
  height: 300px;
  width: 33.33%;
  box-sizing: border-box;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.grey {
  background-color: grey;
}

.black {
  background-color: black;
}

.orange {
  background-color: orange;
}